@model List<Flow.Data.Team>
@if (Model != null && Model.Any())
{
<li>
        <select id="teamSelect" class="group flex gap-x-3 block w-full rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-400 text-white bg-gray-900 ring-2 ring-inset ring-gray-800 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6 font-semibold">
        @foreach (var team in Model)
        {
        var isSelected = (team.Id == ViewBag.TeamId) ? "selected" : "";
                <!option value="@team.Id" @isSelected>@team.Name</!option>
        }
            <option value="create"> Create Team </option>
    </select>
</li> 
}
else
{
    <p>No teams found for the user.</p>
}












<script>
    // Handle organization change event
    document.addEventListener('DOMContentLoaded', function () {


        document.addEventListener('change', function (event) {
            if (event.target && event.target.id === 'teamSelect') {
                console.log("Team changed");
                var selectedTeamId = event.target.value;
                if (selectedTeamId === 'create') {
                    // Redirect to Team/Create page
                    window.location.href = '/Team/Create';
                } else {
                    // Send AJAX request to update the session
                    fetch("/Project/ChangeTeam?teamId=" + selectedTeamId, {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        }
                    })
                        .then(response => {
                            if (response.ok) {
                                return response.json();
                            }
                            throw new Error("Network response was not ok.");
                        })
                        .then(data => {
                            if (data.success && data.redirectUrl) {
                                window.location.href = data.redirectUrl; // Redirect to the specified URL
                            } else {
                                console.error("Invalid response from server");
                            }
                        })
                        .catch(error => {
                            console.error("There was a problem with your fetch operation:", error);
                        });
                }
            }
        });
    });

    
</script>