@model List<Flow.Data.Organization>
@if (Model != null && Model.Any())
{
    

<li>
        <select id="organizationSelect" class="group flex gap-x-3 block w-full rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-400 text-white bg-gray-900 ring-2 ring-inset ring-gray-800 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6 font-semibold">
        @foreach (var organization in Model)
        {
            <option>@organization.Name</option>
        }
            <option value="create"> Create Organization </option>
    </select>
</li> 
}
else
{
    <p>No organizations found for the user.</p>
}

<script>
    document.getElementById("organizationSelect").addEventListener("change", function () {
        var selectedOption = this.value;
        if (selectedOption === "create") {
            window.location.href = "@Url.Action("Create", "Organization")";
        }
    });
</script>