@{
    var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
}

<li>
    <div class="text-xs font-semibold leading-6 text-gray-400">Your chats</div>
    <ul role="list" class="-mx-2 mt-2 space-y-1">
        <li>
            <!-- Current: "bg-gray-800 text-white", Default: "text-gray-400 hover:text-white hover:bg-gray-800" -->
            <a asp-controller="Chat" asp-action="Index" class="@(currentController == "Chat" ? "bg-gray-800 text-white" : "text-gray-400 hover:text-white hover:bg-gray-800") text-gray-400 hover:text-white hover:bg-gray-800 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                <span class="flex h-6 w-6 shrink-0 items-center justify-center rounded-lg border border-gray-700 bg-gray-800 text-[0.625rem] font-medium text-gray-400 group-hover:text-white">
                    @if (ViewBag.OrganizationName != null && ViewBag.OrganizationName.Length > 0)
                    {
                        @ViewBag.OrganizationName.Substring(0, 1).ToUpper()
                    }
                </span>
                <span class="truncate">@ViewBag.OrganizationName</span>
            </a>
        </li>
@*         <li>
            <a href="#" class="text-gray-400 hover:text-white hover:bg-gray-800 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                <span class="flex h-6 w-6 shrink-0 items-center justify-center rounded-lg border border-gray-700 bg-gray-800 text-[0.625rem] font-medium text-gray-400 group-hover:text-white">T</span>
                <span class="truncate">Tailwind Labs</span>
            </a>
        </li>
        <li>
            <a href="#" class="text-gray-400 hover:text-white hover:bg-gray-800 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                <span class="flex h-6 w-6 shrink-0 items-center justify-center rounded-lg border border-gray-700 bg-gray-800 text-[0.625rem] font-medium text-gray-400 group-hover:text-white">W</span>
                <span class="truncate">Workcation</span>
            </a>
        </li> *@
    </ul>
</li>